BD en SQL que se genera cuando se rellena la info del cliente para hacer el estudio de ahorro.

## Librerías

In [2]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import seaborn as sns

## Calling Excel

In [5]:
cliente_estudio_de_ahorro = pd.read_excel("../Data/BD_Clientes_Estudio_de_Ahorro.xlsx", engine='openpyxl')
cliente_estudio_de_ahorro

,Cliente:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Establecimiento:,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Información del cliente,NaN,NaN,NaN,NaN,Información del establecimiento,NaN,NaN,NaN,NaN,...,NaN,Ahorro tarifario + otros servicios,NaN,NaN,Ahorro final,NaN,NaN,NaN,NaN,NaN
2,Titular de la Cuenta,CIF / NIF,Persona de contacto,E-mail,Telefono,Codigo Cups,Dirección completa,Calle,Numero,Piso,...,Ahorro otros servicios (€/año),€,%,Posible penalización (€),€,%,Comision Vivolt,Comision Vivolt real,Alta cliente Vivolt,Alta cliente nueva comercializadora
3,Jaime Giron -Clinica Dentista,B85575702,Jaime Giron -Clinica Dentista,NaN,NaN,ES0021000004008340YN,"C/ AZALEA, 1-E, 2o 1, 28109, ALCOBENDAS (MADRID)",NaN,NaN,NaN,...,0,NaN,0,-62.1151,NaN,0,NaN,NaN,NaN,NaN

## Clean DF

Quiero tener subtitulos en las columnas. porque algunas filas, son en realidad los titulos y subtitulos

## Transform DF to JSON

In [ ]:
cliente_estudio_de_ahorro.to_json("Data/cliente_estudio_de_ahorro.json", orient="records")