BD en SQL que se genera cuando se rellena la info del cliente para hacer el estudio de ahorro.

## Librerías

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import seaborn as sns

## Calling Excel

In [3]:
cliente_estudio_de_ahorro = pd.read_excel("../Data/BD_Clientes_Estudio_de_Ahorro.xlsx", engine='openpyxl')
cliente_estudio_de_ahorro

,Titular_de_la_Cuenta,CIF_/_NIF,Persona_de_Contacto,Email,Telefono,Cups,Dirección_completa,Tipo_de_cliente,Subtipo_de_cliente,Mercado_regulado,...,Precio_Energia_P5,Precio_Energia_P6,Precio_Potencia_P1,Precio_Potencia_P2,Precio_Potencia_P3,Precio_Potencia_P4,Precio_Potencia_P5,Precio_Potencia_P6,Precio_Contador,Precio_Otros _Servicios_€/mes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cliente_estudio_de_ahorro.columns

Index(['Titular_de_la_Cuenta', 'CIF_/_NIF', 'Persona_de_Contacto', 'Email',
       'Telefono', 'Cups', 'Dirección_completa', 'Tipo_de_cliente',
       'Subtipo_de_cliente', 'Mercado_regulado', 'Bono_social',
       'Fecha_inicio_del_contrato', 'Fecha_final_del_contrato',
       '#_contrato_suministro', 'Permanencia',
       'Periodo_facturado_(factura_enviada)', 'Comercializadora', 'Tarifa',
       'Precio_Energia_P1', 'Precio_Energia_P2', 'Precio_Energia_P3',
       'Precio_Energia_P4', 'Precio_Energia_P5', 'Precio_Energia_P6',
       'Precio_Potencia_P1', 'Precio_Potencia_P2', 'Precio_Potencia_P3',
       'Precio_Potencia_P4', 'Precio_Potencia_P5', 'Precio_Potencia_P6',
       'Precio_Contador', 'Precio_Otros _Servicios_€/mes'],
      dtype='object')

## Transform DF to JSON

In [5]:
cliente_estudio_de_ahorro.to_json("../Data/json_estudios_de_ahorro clientes/cliente_estudio_de_ahorro_"cliente_estudio_de_ahorro.Titular_de_la_Cuenta[0]".json", orient="records")

## Transform DF to CSV

In [9]:
cliente_estudio_de_ahorro.to_csv("../Data/cliente_estudio_de_ahorro_modelo.csv")

## Crear Tabla en SQL

In [ ]:

# Copiar este en mysql para crear tabla. 

USE VIVOLT;
CREATE TABLE parametros_estudio_de_ahorro (
	Titular_de_la_Cuenta VARCHAR(100)
	CIF_/_NIF VARCHAR(10)
	Persona_de_Contacto
	Email
	Telefono
	Cups INT 
	Dirección_completa
	Tipo_de_cliente
	Subtipo_de_cliente
	Mercado_regulado
	Bono_social
	Fecha_inicio_del_contrato
	Fecha_final_del_contrato
	Num_contrato_suministro 
	Permanencia
	Periodo_facturado_(factura_enviada)
	Comercializadora
	Tarifa
	Precio_Energia_P1
	Precio_Energia_P2
	Precio_Energia_P3
	Precio_Energia_P4
	Precio_Energia_P5
	Precio_Energia_P6
	Precio_Potencia_P1
	Precio_Potencia_P2
	Precio_Potencia_P3
	Precio_Potencia_P4
	Precio_Potencia_P5
	Precio_Potencia_P6
	Precio_Contador
	Precio_Otros _Servicios_€/mes
)
;