In [ ]:
si seleccionan precio indexado o fijo se utiliza una de las dos tablas 
- BD_Precios_Indexados
- BD_Precios_Fijos

In [ ]:
Se hace un estudio de lo que le va a costar su energía al año con los datos que nos ha facilitado: 
    precio_año_actual = df.precio_cliente_actual_periodos * consumo__periodos del ultimo año. 
    precio_año_vivolt = df.precio_vivolt * consumo__periodos del ultimo año
    
El precio_vivolt debe ser el precio que corresponde al periodo contratado por el cliente.

## Librerías

In [3]:
import pandas as pd

### Descargar todas las bases de datos:

- importar csv de consumo_cliente 
- importar csv de precios_fijos
- importar csv de cliente_estudio_ahorro.

In [4]:
bd_consumo_potencia_cliente = pd.read_csv("../Data/csv/bd_consumo_potencia_cliente.csv")
bd_consumo_potencia_cliente = pd.read_csv("../Data/csv/bd_consumo_potencia_cliente.csv")
bd_precios_fijos = pd.read_csv("../Data/csv/precios_fijos.csv")
bd_cliente_estudio_de_ahorro_modelo = pd.read_csv("../Data/csv/cliente_estudio_de_ahorro_modelo.csv")

#### Visualizar DF

In [5]:
bd_consumo_potencia_cliente

   Unnamed: 0                       CUPS ES0021000005204736CV
0           0                     Tarifa                 3.0A
1           1  Potencia Contratada (kWh)            P1;15,001
2           2  Potencia Contratada (kWh)            P2;15,001
3           3  Potencia Contratada (kWh)            P3;15,001
4           4  Potencia Contratada (kWh)                 P4;0
5           5  Potencia Contratada (kWh)                 P5;0
6           6  Potencia Contratada (kWh)                 P6;0

In [6]:
bd_consumo_potencia_cliente

   Unnamed: 0                       CUPS ES0021000005204736CV
0           0                     Tarifa                 3.0A
1           1  Potencia Contratada (kWh)            P1;15,001
2           2  Potencia Contratada (kWh)            P2;15,001
3           3  Potencia Contratada (kWh)            P3;15,001
4           4  Potencia Contratada (kWh)                 P4;0
5           5  Potencia Contratada (kWh)                 P5;0
6           6  Potencia Contratada (kWh)                 P6;0

In [4]:
bd_precios_fijos

,Unnamed: 0,Comercializadora,Tarifa,Precio_Potencia_P1,Precio_Potencia_P2,Precio_Potencia_P3,Precio_Potencia_P4,Precio_Potencia_P5,Precio_Potencia_P6,Precio_Energía_P1,Precio_Energía_P2,Precio_Energía_P3,Precio_Energía_P4,Precio_Energía_P5,Precio_Energía_P6,Fecha_Inicio,Fecha_Finalización
0,0,CYE,2.0. A,0.038043,0.038043,0.038043,0.038043,0.038043,0.038043,0.109125,0.109125,0.109125,0.109125,0.109125,0.109125,2020-11-16,1970-01-01
1,1,CYE,2.0. DHA,0.038043,0.038043,0.038043,0.038043,0.038043,0.038043,0.130285,0.130285,0.130285,0.130285,0.130285,0.130285,2020-11-16,1970-01-01
2,2,CYE,2.1. A,0.044445,0.044445,0.044445,0.044445,0.044445,0.044445,0.122458,0.122458,0.122458,0.122458,0.122458,0.122458,2020-11-16,1970-01-01
3,3,CYE,2.1. DHA,0.044445,0.044445,0.044445,0.044445,0.044445,0.044445,0.142841,0.142841,0.142841,0.142841,0.142841,0.142841,2020-11-16,1970-01-01
4,4,CYE,3.0. A,0.040729,0.024437,0.016292,0.040729,0.024437,0.016292,0.092978,0.092978,0.092978,0.092978,0.092978,0.092978,2020-11-16,1970-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,Opcion,2.0. DHA,0.038043,0.038043,0.038043,0.038043,0.038043,0.038043,0.151545,0.151545,0.151545,0.151545,0.151545,0.151545,2020-03-01,2019-01-04
158,158,Opcion,2.1. A,0.044445,0.044445,0.044445,0.044445,0.044445,0.044445,0.145133,0.145133,0.145133,0.145133,0.145133,0.145133,2020-03-01,2019-01-04
159,159,Opcion,2.1. DHA,0.044445,0.044445,0.044445,0.044445,0.044445,0.044445,0.164125,0.164125,0.164125,0.164125,0.164125,0.164125,2020-03-01,2019-01-04
160,160,Opcion,3.0. A,0.040729,0.024437,0.016292,0.040729,0.024437,0.016292,0.112716,0.112716,0.112716,0.112716,0.112716,0.112716,2020-03-01,2019-01-04
161,161,Opcion,3.1. A,0.059173,0.036491,0.008368,0.059173,0.036491,0.008368,0.098272,0.098272,0.098272,0.098272,0.098272,0.098272,2020-03-01,2019-01-04

In [5]:
bd_cliente_estudio_de_ahorro_modelo

,Unnamed: 0,Titular_de_la_Cuenta,CIF_/_NIF,Persona_de_Contacto,Email,Telefono,Cups,Dirección_completa,Tipo_de_cliente,Subtipo_de_cliente,...,Precio_Energia_P5,Precio_Energia_P6,Precio_Potencia_P1,Precio_Potencia_P2,Precio_Potencia_P3,Precio_Potencia_P4,Precio_Potencia_P5,Precio_Potencia_P6,Precio_Contador,Precio_Otros _Servicios_€/mes
0,0,Jose María Treviño,05324268k,Pepe Treviño,trv.pepe@gmail.com,699792928,ES0021000004008340YN,"C/ AZALEA, 1-E, 2o 1, 28109, ALCOBENDAS (MADRID)",NaN,NaN,...,0.19873,0.19873,0.23897,0.23897,0.23897,0.23897,0.23897,0.23897,0.04563,0

# Estudio Fijo

## 1er Paso para Estudio de Ahorro - Coste total de 1 año comercializadora actual

#### Coste de la Energía 
la columna de precio_energía de la BD_CLiente_Estudio_de_ahorro lo multiplicamos por bd_consumo_cliente el consumo anual segun periodo.

In [4]:
coste_energía_actual = ((bd_cliente_estudio_de_ahorro_modelo["precio_energía_p1"] * bd_consumo_cliente["p1"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_energía_p2"] * bd_consumo_cliente["p2"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_energía_p3"] * bd_consumo_cliente["p3"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_energía_p4"] * bd_consumo_cliente["p4"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_energía_p5"] * bd_consumo_cliente["p5"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_energía_p6"] * bd_consumo_cliente["p6"])
                       )   
# cada p tiene que multiplicarse por el p que le corresponde en el otro df.

NameError: name 'BD_Cliente_Estudio_de_Ahorro' is not defined

#### Coste de la Potencia 
(el precio_potencia de la BD_CLiente_Estudio_de_ahorro lo multiplicamos por bd_consumo_cliente la potencia segun periodo) multiplicado por 365 días.

In [ ]:
coste_potencia_actual =((bd_cliente_estudio_de_ahorro_modelo["precio_potencia_p1"] * bd_consumo_cliente["p1"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_potencia_p2"] * bd_consumo_cliente["p2"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_potencia_p3"] * bd_consumo_cliente["p3"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_potencia_p4"] * bd_consumo_cliente["p4"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_potencia_p5"] * bd_consumo_cliente["p5"]) +
                        (bd_cliente_estudio_de_ahorro_modelo["precio_potencia_p6"] * bd_consumo_cliente["p6"])
                       ) * 365

#### impuesto energía 
(energía + potencia) multilplicado por 5,11%

In [ ]:
coste_impuesto_energia = (coste_potencia_actual + coste_energía_actual)* 0.0511

#### precio contador 
bd_consumo_cliente del precio_del_contador multiplicado por 365 días.

In [ ]:
coste_contador = bd_cliente_estudio_de_ahorro_modelo["precio_contador"]*365

#### iva 
(energía + potencia + impuesto energía + precio contador) multiplicado 21%

In [ ]:
coste_iva = (coste_energía_actual + coste_potencia_actual + coste_impuesto_energia + coste_contador) * 0.21

#### coste total de factura actual 
energía + potencia + impuesto energía + precio contador + iva

In [ ]:
actual_coste_anual_cliente = (coste_energía_actual + coste_potencia_actual + coste_impuesto_energia + coste_contador + coste_iva)

## 2do Paso para Estudio de Ahorro - Coste total de 1 año con nueva comercializadora

#### coste de la energía 
la columna de precio_energía de la BD_precios_fijos con columna de fecha_finalziación a 0, lo multiplicamos por bd_consumo_cliente el consumo anual segun periodo. Que se quede el resultado más barato.

In [ ]:
coste_energía_nuevo =

#### coste de la potencia
(el precio_potencia es la misma fila que el resultado de "energía" lo multiplicamos por bd_consumo_cliente la potencia segun periodo) multiplicado por 365 días.

In [ ]:
coste_potencia_nuevo =

#### impuesto energía
(energía + potencia) multilplicado por 5,11%

In [ ]:
coste_impuesto_energia_nuevo = (coste_potencia_nuevo + coste_energía_nuevo)* 0.0511

#### precio contador 
bd_consumo_cliente del precio_del_contador multiplicado por 365 días.

In [ ]:
coste_contador_nuevo = bd_cliente_estudio_de_ahorro_modelo["precio_contador"]*365

#### iva 
(energía + potencia + impuesto energía + precio contador) multiplicado 21%

In [ ]:
coste_iva_nuevo = (coste_energía_nuevo + coste_potencia_nuevo + coste_impuesto_energia_nuevo + coste_contador_nuevo) * 0.21

#### coste total de factura actual 
energía + potencia + impuesto energía + precio contador + iva

In [ ]:
nuevo_coste_anual_cliente = (coste_energía_nuevo + coste_potencia_nuevo + coste_impuesto_energia_nuevo + coste_contador_nuevo + coste_iva_nuevo)

## Comparativa entre de Ahorro entre Actual y Nuevo

In [ ]:
ahorro =  actual_coste_anual_cliente - nuevo_coste_anual_cliente

In [ ]:
porcentage_de_ahorro = (ahorro/actual_coste_anual_cliente)*100

## Mas información para el Cliente en el PDF

- Comercializadora Actual y Nueva Comercializadora
- precios actuales y nuevos precios
- Si te cambias hoy, en 5 años habrás ahorrado: x
- además, toda nuestra energía es 100% renovable, por lo que habras ahorrado x emisiones de C02. Calcular el consumo anual.